In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sample_sets/sample-sales.csv')

In [3]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
#getting the total of the ext price and quantity column as well as the average of the unit price
#done without using agg
print(df[["ext price", "quantity"]].sum())
print(df["unit price"].mean())

In [ ]:
#now with agg
df[["ext price", "quantity", "unit price"]].agg(['sum', 'mean'])

In [5]:
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [13]:
#getting the sum of unit price isn't useful
#to solve for this issue, agg allows you to pass a dictionary to tell it what functions to apply to what
df.groupby('name').agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean']})

                                unit price  ext price              quantity  \
                                      mean        sum         mean      sum
name
Barton LLC                       53.769024  109438.50  1334.615854     2041
Cronin, Oberbrunner and Spencer  49.805821   89734.55  1339.321642     1673
Frami, Hills and Schmidt         54.756806  103569.59  1438.466528     1903
Fritsch, Russel and Anderson     53.708765  112214.71  1385.366790     2112
Halvorson, Crona and Champlin    55.946897   70004.36  1206.971724     1284
Herman LLC                       52.566935   82865.00  1336.532258     1538
Jerde-Hilpert                    52.084719  112591.43  1265.072247     1999
Kassulke, Ondricka and Metz      51.043125   86451.07  1350.797969     1647
Keeling LLC                      57.076081  100934.30  1363.977027     1806
Kiehn-Spinka                     55.561013   99608.77  1260.870506     1756
Koepp Ltd                        54.389756  103660.54  1264.152927     1790
Kuhn-Gusikowski                  55.833836   91094.28  1247.866849     1665
Kulas Inc                        59.661596  137351.96  1461.191064     2265
Pollich LLC                      56.533151   87347.18  1196.536712     1707
Purdy-Kunde                      50.340943   77898.21  1469.777547     1450
Sanford and Sons                 58.341549   98822.98  1391.872958     1704
Stokes LLC                       51.545278   91535.92  1271.332222     1766
Trantow-Barrows                  56.180106  123381.38  1312.567872     2271
White-Trantow                    58.613140  135841.99  1579.558023     2258
Will LLC                         58.632973  104437.60  1411.318919     1828


                                      mean
name
Barton LLC                       24.890244
Cronin, Oberbrunner and Spencer  24.970149
Frami, Hills and Schmidt         26.430556
Fritsch, Russel and Anderson     26.074074
Halvorson, Crona and Champlin    22.137931
Herman LLC                       24.806452
Jerde-Hilpert                    22.460674
Kassulke, Ondricka and Metz      25.734375
Keeling LLC                      24.405405
Kiehn-Spinka                     22.227848
Koepp Ltd                        21.829268
Kuhn-Gusikowski                  22.808219
Kulas Inc                        24.095745
Pollich LLC                      23.383562
Purdy-Kunde                      27.358491
Sanford and Sons                 24.000000
Stokes LLC                       24.527778
Trantow-Barrows                  24.159574
White-Trantow                    26.255814
Will LLC                         24.702703

In [12]:
pd.pivot_table(df, index='name', aggfunc={'unit price':['mean','max'],'ext price':['mean','max']})

                                ext price              unit price
                                      max         mean        max       mean
name
Barton LLC                        4543.96  1334.615854      99.58  53.769024
Cronin, Oberbrunner and Spencer   4162.40  1339.321642      96.80  49.805821
Frami, Hills and Schmidt          4313.42  1438.466528      96.18  54.756806
Fritsch, Russel and Anderson      3953.17  1385.366790      99.48  53.708765
Halvorson, Crona and Champlin     4174.72  1206.971724      99.16  55.946897
Herman LLC                        3970.12  1336.532258      97.52  52.566935
Jerde-Hilpert                     3791.62  1265.072247      98.07  52.084719
Kassulke, Ondricka and Metz       4418.47  1350.797969      98.43  51.043125
Keeling LLC                       4498.20  1363.977027      98.79  57.076081
Kiehn-Spinka                      4824.54  1260.870506      99.27  55.561013
Koepp Ltd                         4708.41  1264.152927      99.60  54.389756
Kuhn-Gusikowski                   4770.72  1247.866849      99.85  55.833836
Kulas Inc                         4590.81  1461.191064      99.73  59.661596
Pollich LLC                       4621.04  1196.536712      98.95  56.533151
Purdy-Kunde                       4414.62  1469.777547      98.69  50.340943
Sanford and Sons                  4239.84  1391.872958      98.93  58.341549
Stokes LLC                        3775.22  1271.332222      98.83  51.545278
Trantow-Barrows                   4444.30  1312.567872      99.65  56.180106
White-Trantow                     4367.24  1579.558023      99.82  58.613140
Will LLC                          4301.00  1411.318919      99.47  58.632973

In [ ]:
df.head(1)

In [ ]:
df['sku'].value_counts().index[0]

In [ ]:
#agg also allows for applying your own functions
#the function we'll be applying
get_max = lambda x: x.value_counts(dropna=False).index[0]

#breaking it down
#this will get the count that each sku appears
print(df['sku'].value_counts()[0:3])
#this will return the max number of appearances
print(df['sku'].value_counts().max())
#because value counts is always in descending order, you can access the first value via its index position
print(df['sku'].value_counts().index[0])

In [ ]:
#you can now apply your own function to include those results with your other summary data
df.agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean'], 'sku': [get_max]})

In [ ]:
#having lambda in your summary table doesn't do a great job explaining what that data point is telling you
#to change this you can explicity change the name of a function by doing the following
get_max.__name__ = "most frequent"

In [ ]:
df.agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean'], 'sku': [get_max]})

In [ ]:
#one drawback of agg is that it doesn't preserve order
#to combat this, you can use collections to create an ordered dict
import collections
f = collections.OrderedDict([('ext price', ['sum', 'mean']), ('quantity', ['sum', 'mean']), ('sku', [get_max])])
df.agg(f)